<a href="https://colab.research.google.com/github/newfrogg/data_engineering/blob/sql_intro/data_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Table of Content

>[Table of Content](#scrollTo=jWwQ7Tnvp6Se)

>[What is ELT ?](#scrollTo=Cf76ae0IeEcl)

>>[Data Engineering for short](#scrollTo=2xn5RpTpae9U)

>>[What is Data Engineering](#scrollTo=Gvwe2gkoTv8K)

>>[What is ETL ?](#scrollTo=RBSCyNIkeHxL)

>>>[Example: Amazon Web scraping](#scrollTo=6W_OdARtpRMl)

>[Review Python](#scrollTo=cR6dB4EQ_NYh)

>>[Project Overview](#scrollTo=qLmqhyMrNBu1)

>>[Week 1: Python Basics and Data Ingestion](#scrollTo=LMYJy-QAWQa7)

>>>[Day 1: Setup and Python Basics](#scrollTo=ppD7QXboNHV8)

>>>[Day 2: Lists and Basic Data Structures](#scrollTo=VTxwG1VqTMsk)

>>>[Day 3: Conditionals and Data Cleaning](#scrollTo=c20qkDHXOp2E)

>>>>[Why does it print None, None?](#scrollTo=Uv5MH40NUdsN)

>>>>[What is a Side Effect?](#scrollTo=JPRSPIw5V3Ik)

>>>[Day 4: Loops and Data Aggregation](#scrollTo=UH9ZvdNgWKvC)

>>>>>[An alternative using pandas library](#scrollTo=ehSNeEIWbj6V)

>>>[Day 5: Functions and Modularity](#scrollTo=gz3Y_nQkdLfF)

>>[Week 2: Tuples, Analysis, and Pipeline Completion](#scrollTo=I1iH51nDejBt)

>>>[Day 6: Tuples and Immutable Data](#scrollTo=9v22PN1Uen2I)

>>>[Day 7: Data Analysis with Lists and Tuples](#scrollTo=0945dymciGFc)

>>>>>[Difference Between lambda and def Keyword](#scrollTo=Vgj2B3UsnhhJ)

>>>>>>[Usage with filter/map function()](#scrollTo=cRMfFLgGuxB_)

>>>>>>[Others: usage with reduce function()](#scrollTo=DglGibyuvC0G)

>>>[Day 8: Error Handling and Robustness](#scrollTo=1NmHU7IWv3qW)

>>>[Day 9: Final Pipeline Integration](#scrollTo=LQmWOushl_p_)

>>>[Day 10: Testing and Extensions](#scrollTo=7VtSWXzXnIA3)

>>[Achievement & Insights](#scrollTo=xkoHpXV-_ZuQ)

>>>[Deliverables](#scrollTo=xkoHpXV-_ZuQ)

>>>[Learning Outcomes](#scrollTo=xkoHpXV-_ZuQ)

>>>[Next Steps](#scrollTo=xkoHpXV-_ZuQ)

>[SQL Basics (deprecated)](#scrollTo=sf6lN9_4ltQu)

>[CS50 SQL](#scrollTo=IBATgsrIQ-a5)

>>[What is Database ?](#scrollTo=Zuj-d_npaTCy)

>>>[SQL](#scrollTo=8DYc0-GebPo5)

>>[Query](#scrollTo=VfbYyFHSRY3E)

>>[Problem set 0](#scrollTo=Xp32ApAOXKu3)

>>>[Cyberspace](#scrollTo=Xp32ApAOXKu3)

>>>[Normals](#scrollTo=Xp32ApAOXKu3)

>>>[Players](#scrollTo=Xp32ApAOXKu3)

>>[Relating](#scrollTo=kn53eyiSJtIo)

>>>[Entity Relationship Diagrams](#scrollTo=PeYhsqHJKTHg)

>>>[Keys](#scrollTo=mf42AqgeNKbB)

>>>>[Primary Keys](#scrollTo=mf42AqgeNKbB)

>>>>[Foreign Keys](#scrollTo=mf42AqgeNKbB)

>>>[Subqueries](#scrollTo=o-nS0PpuIDIB)

>>>[IN](#scrollTo=VMJRqx0gIXu3)

>>>[JOIN](#scrollTo=OHFKCV5rKdKa)

>>>[Sets](#scrollTo=LLYTDDKCUo3j)

>>>[Groups](#scrollTo=7O-AMBjEWo5A)

>>>[Questions](#scrollTo=7O-AMBjEWo5A)

# What is ELT ?

## Data Engineering for short
It's about the practice of designing and building systems with purposes:
1. collecting,
2. storing,
3. analyzing data at scale.
4. To ensure the highly usable state before being pushed to data scientists, data analysts.

[Coursera-What is Data Engineering](https://www.coursera.org/articles/what-does-a-data-engineer-do-and-how-do-i-become-one)

## What is Data Engineering
"Data engineering is a set of operations aimed at creating ***interfaces and mechanisms for the flow and access of information***. It takes dedicated specialists—data engineers— to maintain data so that it remains available and usable by others. In short, data engineers set up and operate the organization’s data infrastructure, preparing it for further analysis by data analysts and scientists"

-from “Data Engineering and Its Main Concepts” by AlexSoft

**1. Data Engineering Defined**

Data engineering is the development, implementation, and maintenance of systems
and processes that take in raw data and produce high-quality, consistent information that supports downstream use cases, such as analysis and machine learning. Data engineering is the intersection of security, data management, DataOps, data architecture, orchestration, and software engineering. A ***data engineer manages the data engineering lifecycle***, beginning with getting data from source systems and ending with serving data for use cases, such as analysis or machine learning.

**2. The Data Engineering Lifecycle**

- The data engineering lifecycle focus on data itself and shift away the conversation away from technology.
- There are many stages (above and below the iceberge):
    - Generation, Storage, Serving: tasks of data engineering workflow itself.
    - Security, DataOps, Software Engineering: tasks for interact with relevant fields

![Data Engineering Life Cycle](https://github.com/newfrogg/data_engineering/blob/what_is_ELT/images/data_engineering_life_cycle.png?raw=1)

**3. Evolution of the Data Engineer**

*   The roots of data engineering can be traced back to the **data warehousing era (1980s-2000)**, pioneered by figures like Bill Inmon and Ralph Kimball. Early roles like BI engineers and ETL developers focused on building systems for scalable analytics using relational databases and MPP systems-. The rise of the web introduced new data scale challenges that traditional systems struggled with.
*   **Contemporary data engineering emerged in the early 2000s** as companies faced exploding data growth. Innovations from Google (GFS, MapReduce), the open-source Hadoop ecosystem inspired by Google's work, and the advent of public clouds like AWS provided the **foundation for distributed computation and storage** on massive clusters-. This marked the beginning of the "big data" era.
*   The **big data era (2000s-2010s)** saw the rise of the "big data engineer" proficient in software development and low-level infrastructure hacking to manage complex open-source tools like Hadoop and Spark-. While powerful, managing these massive clusters was operationally burdensome and costly, often diverting engineers from delivering business value. The term "big data" has since become a relic as the technology became more accessible.
*   In the **2020s, big data engineers are now simply called data engineers or data lifecycle engineers**, reflecting a shift towards managing the entire data engineering lifecycle rather than low-level infrastructure details-. With greater abstraction and simplification of tools, the focus has moved to higher-value areas like security, data management, DataOps, data architecture, and orchestration. Data engineering has become a discipline of **connecting various modular technologies** to serve business goals.

**4. Data Engineering and Data Science**

- There are many opinions abouth relationship between data engineering and data science. However, for this case, we consider that **data engineering is a separate discipline from data science and analytics**, although they are complementary. Data engineering is described as sitting **upstream** from data science, meaning data engineers are responsible for providing the necessary data inputs for data scientists.

- Considering **Data Science Hierarchy of Needs** published in 2017 by Monica Rogati, which places AI and machine learning at the top, with foundational tasks like data movement, storage, collection, cleansing, and infrastructure at the bottom. The sources state that data scientists often spend a significant majority of their time, estimated at **70% to 80%, on these lower-level tasks** such as gathering, cleaning, and processing data. This occurs because data scientists are typically not trained to engineer production-grade data systems.

![Data Science Hierarchy](https://github.com/newfrogg/data_engineering/blob/what_is_ELT/images/data_science_hierarchy.png?raw=1)

- The core idea is that **data engineers build the solid data foundation** represented by the bottom layers of this hierarchy. By doing so, data engineers enable data scientists to focus their time more effectively on higher-value activities like analysis, experimentation, and machine learning (the top layers of the pyramid). Ultimately, data engineering bridges the gap between acquiring raw data and extracting value from it, playing a vital role in the success of data science in production environments.

[Fundamentals of Data Engineering](https://www.oreilly.com/library/view/fundamentals-of-data/9781098108298/)

## What is ETL ?
ETL is about a *data integration process* including:
1. **Extract** data from legacy system
2. **Transform** and/or clean data to enhance data quality, improve consitency
3. **Load** data into target databases

[IBM_ETL](https://www.ibm.com/think/topics/etl)

### Example: Amazon Web scraping
Working though scraping data about books matching keyword "Data Engineering" from an ecommerce platform - Amazon to practice ETL process with html data.
1. **Extract**: Search for book data from Amazon, staring with searching "Data Engineering" then scraping the data of each webpages like price, ratings, reviews, prices...
2. **Transform**: Pull extracted data to an .csv file for storage and later usage
3. <font color='red'>**Load**</font>: This example doesn't show the target database. So this phase is still left open for being defined later.

Reference: https://github.com/kunal-geeks/amazon-web-scraping/tree/main

In [ ]:
# Import Libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re
import json

In [ ]:
# Support Function
# Function to extract Product Title
def get_title(soup):

    try:
        # Outer Tag Object
        title = soup.find("span", attrs={"id":'productTitle'})

        # Inner NavigatableString Object
        title_value = title.text

        # Title as a string value
        title_string = title_value.strip()

    except AttributeError:
        title_string = ""

    return title_string

# Function to extract Product Price
def get_price(soup):

    try:
        price = soup.find("div",attrs={'class':'a-section aok-hidden twister-plus-buying-options-price-data'}).string.strip()
        price = json.loads(price)
        price = price["desktop_buybox_group_1"][0]["displayPrice"]
        # price = soup.find("span", attrs={'class':'a-size-base a-color-price a-color-price'}).string.strip()
    except:
        price = ""

    return price

# Function to extract Product Rating
def get_rating(soup):

    try:
        rating = soup.find("i", attrs={'class':'a-icon a-icon-star a-star-4-5'}).string.strip()

    except AttributeError:
        try:
            rating = soup.find("span", attrs={'class':'a-icon-alt'}).string.strip()
        except:
            rating = ""

    return rating

# Function to extract Number of User Reviews
def get_review_count(soup):
    try:
        review_count = soup.find("span", attrs={'id':'acrCustomerReviewText'}).string.strip()

    except AttributeError:
        review_count = ""

    return review_count

# Function to extract Availability Status
def get_availability(soup):
    try:
        available = soup.find("div", attrs={'id':'availability'})
        available = available.find("span").string.strip()

    except AttributeError:
        available = "Not Available"

    return available

# Function to extract pages_count (On going fixing - the content is not stable => can't catch correctly each time)
def get_pages(soup):
    try:
        # method 1
        pages = soup.find("ul", attrs={'class':'a-unordered-list a-nostyle a-vertical a-spacing-none detail-bullet-list'})
        if pages:
            pages = pages.find_all("li")[4]

        if pages:
            pages = pages.find("span")

        if pages:
            pages = pages.find_all("span")[1].string.strip()
        pages = soup.find("a",attrs={'aria-label':re.compile('Print length.*')})
        # method 2
        # pages = soup.find_all("a",attrs={'aria-description':'Popover with more information about the attribute'})
        # if pages:
        #     pages = pages[0]
        # print(pages)
        # pages = pages.get('aria-label').string.strip()

    except AttributeError:
        pages = "Not Available"
    return pages

# Function to extract main author
def get_author(soup):
    try:
        author = soup.find("div", attrs={'id':'bylineInfo', 'class':'a-section a-spacing-micro bylineHidden feature'})
        author = author.find("span")
        author = author.find("a").string.strip()
    except AttributeError:
        author = "Not Available"
    return author

In [ ]:
if __name__ == '__main__':

    # add your user agent
    HEADERS = ({'User-Agent':'', 'Accept-Language': 'en-US, en;q=0.5'})

    # The webpage URL
    URL = "https://www.amazon.com/s?k=data+engineering&i=stripbooks-intl-ship"

    # HTTP Request
    webpage = requests.get(URL, headers=HEADERS)

    # Soup Object containing all data
    soup = BeautifulSoup(webpage.content, "html.parser")

    # Fetch links as List of Tag Objects
    links = soup.find_all("a", attrs={'class':'a-link-normal s-no-outline'})

    # Store the links
    links_list = []

    # Loop for extracting links from Tag Objects
    for link in links:
            links_list.append(link.get('href'))

    d = {"title":[], "price":[], "rating":[], "reviews":[],"availability":[], "authors":[]}

    # Loop for extracting product details from each link
    for link in links_list:
        new_webpage = requests.get("https://www.amazon.com" + link, headers=HEADERS)

        new_soup = BeautifulSoup(new_webpage.content, "html.parser")

        # Function calls to display all necessary product information
        d['title'].append(get_title(new_soup))
        d['price'].append(get_price(new_soup))
        d['rating'].append(get_rating(new_soup))
        d['reviews'].append(get_review_count(new_soup))
        d['availability'].append(get_availability(new_soup))
        d['authors'].append(get_author(new_soup))
        # break


    amazon_df = pd.DataFrame.from_dict(d)
    amazon_df['title'].replace('', np.nan, inplace=True)


    amazon_df = pd.DataFrame.from_dict(d)
    amazon_df.replace({'title':''},np.nan, inplace=True)
    amazon_df = amazon_df.dropna(subset=['title'])
    amazon_df.to_csv("amazon_data.csv", header=True, index=False)

/tmp/ipython-input-4-2588403658.py:44: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  amazon_df['title'].replace('', np.nan, inplace=True)

In [ ]:
amazon_df

,title,price,rating,reviews,availability,authors
0,Fundamentals of Data Engineering: Plan and Bui...,,4.7 out of 5 stars,703 ratings,Not Available,Joe Reis
1,Data Engineering Design Patterns: Recipes for ...,$51.47,4.4 out of 5 stars,2 ratings,Only 1 left in stock - order soon.,Bartosz Konieczny
2,AI Engineering: Building Applications with Fou...,$57.74,4.4 out of 5 stars,220 ratings,In Stock,Chip Huyen
3,Data Pipelines Pocket Reference: Moving and Pr...,$16.93,4.4 out of 5 stars,401 ratings,In Stock,James Densmore
4,Designing Data-Intensive Applications: The Big...,$43.23,4.4 out of 5 stars,"5,200 ratings",In Stock,Martin Kleppmann
5,Ace the Data Engineering Interview: Questions ...,$29.99,4.4 out of 5 stars,3 ratings,In Stock,Sean Coyne
6,Data Engineering Best Practices: Architect rob...,$35.99,4.4 out of 5 stars,4 ratings,In Stock,Richard J. Schiller
7,Financial Data Engineering: Design and Build D...,$49.20,4.4 out of 5 stars,8 ratings,In Stock,Tamer Khraisha
8,Databricks Certified Data Engineer Associate S...,$64.59,4.4 out of 5 stars,11 ratings,In Stock,Derar Alhussein
9,Data Engineering with Python: Work with massiv...,$41.99,4.4 out of 5 stars,146 ratings,In Stock,Paul Crickard
10,Data Engineering Fundamentals: Building scalab...,,4.4 out of 5 stars,2 ratings,Not Available,Zhaolong Liu
11,Data Engineering with dbt: A practical guide t...,$37.20,4.8 out of 5 stars,25 ratings,In Stock,Roberto Zagni
12,Snowflake Data Engineering,$49.84,4.7 out of 5 stars,7 ratings,In Stock,Maja Ferle
13,The Data Engineering Handbook: We are Data Eng...,$9.99,4.4 out of 5 stars,3 ratings,In Stock,Joe Trite
14,Data Engineering with Google Cloud Platform: A...,$24.33,4.4 out of 5 stars,16 ratings,In Stock,Adi Wijaya
15,Data Engineering with AWS: Acquire the skills ...,,4.4 out of 5 stars,50 ratings,Not Available,Gareth Eagar

# Review Python
Below is a 1-2 week project-based learning plan to review Python basics up to lists and tuples, tailored for data engineering and data analysis. The project involves building **a simple data pipeline** to process and analyze a dataset of customer transactions, reinforcing Python fundamentals while introducing data-related concepts.

In [ ]:
def create_sample_csv(file_path):
    data = [
        "transaction_id,customer_name,amount,date,category",
        "1,John Doe,50.25,2025-06-01,Food",
        "2,Jane Smith,120.50,2025-06-02,Electronics",
        "3,Alice Johnson,30.00,2025-06-03,Clothing",
        "4,John Doe,75.80,2025-06-03,Food",
        "5,Bob Wilson,200.00,2025-06-04,Electronics",
        "6,Jane Smith,15.99,2025-06-05,Books",
        "7,Alice Johnson,45.60,2025-06-06,Clothing",
        "8,John Doe,-10.00,2025-06-07,Food",
        "9,Emma Davis,80.00,2025-06-08,Electronics",
        "10,Bob Wilson,25.50,2025-06-09,Books",
        "11,Jane Smith,60.75,2025-06-10,Food",
        "12,Invalid User,abc,2025-06-11,Clothing",
        "13,Emma Davis,90.20,2025-06-12,Electronics",
        "14,John Doe,35.40,2025-06-13,Books",
        "15,Alice Johnson,70.00,2025-06-14,Clothing"
    ]
    with open(file_path, 'w') as file:
        for line in data:
            file.write(line + '\n')
    print(f"Sample CSV created at {file_path} as below")

create_sample_csv('transactions.csv')
!cat transactions.csv | column -t -s ","

Sample CSV created at transactions.csv as below
transaction_id  customer_name  amount  date        category
1               John Doe       50.25   2025-06-01  Food
2               Jane Smith     120.50  2025-06-02  Electronics
3               Alice Johnson  30.00   2025-06-03  Clothing
4               John Doe       75.80   2025-06-03  Food
5               Bob Wilson     200.00  2025-06-04  Electronics
6               Jane Smith     15.99   2025-06-05  Books
7               Alice Johnson  45.60   2025-06-06  Clothing
8               John Doe       -10.00  2025-06-07  Food
9               Emma Davis     80.00   2025-06-08  Electronics
10              Bob Wilson     25.50   2025-06-09  Books
11              Jane Smith     60.75   2025-06-10  Food
12              Invalid User   abc     2025-06-11  Clothing
13              Emma Davis     90.20   2025-06-12  Electronics
14              John Doe       35.40   2025-06-13  Books
15              Alice Johnson  70.00   2025-06-14  Clothing

In [ ]:
!rm -rf transactions.*
!echo "transaction_id,customer_name,amount,date,category" >> transactions.csv
!echo "1,John Doe,50.25,2025-06-01,Food" >> transactions.csv
!echo "2,Jane Smith,120.50,2025-06-02,Electronics" >> transactions.csv
!echo "3,Alice Johnson,30.00,2025-06-03,Clothing" >> transactions.csv
!echo "4,John Doe,75.80,2025-06-03,Food" >> transactions.csv
!echo "5,Bob Wilson,200.00,2025-06-04,Electronics" >> transactions.csv
!echo "6,Jane Smith,15.99,2025-06-05,Books" >> transactions.csv
!echo "7,Alice Johnson,45.60,2025-06-06,Clothing" >> transactions.csv
!echo "8,John Doe,-10.00,2025-06-07,Food" >> transactions.csv
!echo "9,Emma Davis,80.00,2025-06-08,Electronics" >> transactions.csv
!echo "10,Bob Wilson,25.50,2025-06-09,Books" >> transactions.csv
!echo "11,Jane Smith,60.75,2025-06-10,Food" >> transactions.csv
!echo "12,Invalid User,abc,2025-06-11,Clothing" >> transactions.csv
!echo "13,Emma Davis,90.20,2025-06-12,Electronics" >> transactions.csv
!echo "14,John Doe,35.40,2025-06-13,Books" >> transactions.csv
!echo "15,Alice Johnson,70.00,2025-06-14,Clothing" >> transactions.csv
!echo "===================================================================="
!echo "======================== Transaction Table ========================="
!echo "===================================================================="
!cat transactions.csv | column -t -s "," >> transactions.table
!cat transactions.table

====================================================================
======================== Transaction Table =========================
====================================================================
transaction_id  customer_name  amount  date        category
1               John Doe       50.25   2025-06-01  Food
2               Jane Smith     120.50  2025-06-02  Electronics
3               Alice Johnson  30.00   2025-06-03  Clothing
4               John Doe       75.80   2025-06-03  Food
5               Bob Wilson     200.00  2025-06-04  Electronics
6               Jane Smith     15.99   2025-06-05  Books
7               Alice Johnson  45.60   2025-06-06  Clothing
8               John Doe       -10.00  2025-06-07  Food
9               Emma Davis     80.00   2025-06-08  Electronics
10              Bob Wilson     25.50   2025-06-09  Books
11              Jane Smith     60.75   2025-06-10  Food
12              Invalid User   abc     2025-06-11  Clothing
13              Emma Davis     90.20   2025-06-12  Electronics
14              John Doe       35.40   2025-06-13  Books
15              Alice Johnson  70.00   2025-06-14  Clothing

## Project Overview
- **Objective**: Create a Python script that reads a CSV file of customer transactions, cleans the data, and generates basic analytical insights (e.g., total sales, top customers).
- **Dataset**: Use a sample CSV file with columns: `transaction_id`, `customer_name`, `amount`, `date`, `category`.
- **Tools**: Python, `csv` module (standard library).
- **Duration**: 1-2 weeks, ~2-3 hours/day.

## Week 1: Python Basics and Data Ingestion


### Day 1: Setup and Python Basics
- **Topics**: Variables, data types (int, float, str, bool), basic operations, input/output.
- **Task**: Set up Python environment, create a sample CSV file, and write a script to read it.
- **Activity**:
  - Create a CSV file `transactions.csv` with 10-15 rows (e.g., `1,John Doe,50.25,2025-06-01,Food`).
  - Write a script to open and print the file content.
- **Code**:
  ```python
  # Read and print CSV file
  with open('transactions.csv', 'r') as file:
      for line in file:
          print(line.strip())
  ```

**Close Files**

It is a good practice to always close the file when you are done with it.

If you are not using the with statement, you must write a close statement in order to close the file:
  ```python
  f = open("demofile.txt")
  print(f.readline())
  f.close()
  ```

**Strip function**

The strip() method removes any leading, and trailing whitespaces.

Leading means at the beginning of the string, trailing means at the end.

You can specify which character(s) to remove, if not, any whitespaces will be removed.

**Syntax**: *string.strip(characters)*

**Example**:
```python
txt = ",,,,,rrttgg.....banana....rrr"
x = txt.strip(",.grt")
print(x)
```

In [ ]:
with open('transactions.csv', 'r') as file:
    print("case 1: w/o strip function")
    for line in file:
        print(line)

case 1: w/o strip function
transaction_id,customer_name,amount,date,category

1,John Doe,50.25,2025-06-01,Food

2,Jane Smith,120.50,2025-06-02,Electronics

3,Alice Johnson,30.00,2025-06-03,Clothing

4,John Doe,75.80,2025-06-03,Food

5,Bob Wilson,200.00,2025-06-04,Electronics

6,Jane Smith,15.99,2025-06-05,Books

7,Alice Johnson,45.60,2025-06-06,Clothing

8,John Doe,-10.00,2025-06-07,Food

9,Emma Davis,80.00,2025-06-08,Electronics

10,Bob Wilson,25.50,2025-06-09,Books

11,Jane Smith,60.75,2025-06-10,Food

12,Invalid User,abc,2025-06-11,Clothing

13,Emma Davis,90.20,2025-06-12,Electronics

14,John Doe,35.40,2025-06-13,Books

15,Alice Johnson,70.00,2025-06-14,Clothing

In [ ]:
with open('transactions.csv', 'r') as file:
    print("case 2: with strip function")
    for line in file:
        print(line.strip())

case 2: with strip function
transaction_id,customer_name,amount,date,category
1,John Doe,50.25,2025-06-01,Food
2,Jane Smith,120.50,2025-06-02,Electronics
3,Alice Johnson,30.00,2025-06-03,Clothing
4,John Doe,75.80,2025-06-03,Food
5,Bob Wilson,200.00,2025-06-04,Electronics
6,Jane Smith,15.99,2025-06-05,Books
7,Alice Johnson,45.60,2025-06-06,Clothing
8,John Doe,-10.00,2025-06-07,Food
9,Emma Davis,80.00,2025-06-08,Electronics
10,Bob Wilson,25.50,2025-06-09,Books
11,Jane Smith,60.75,2025-06-10,Food
12,Invalid User,abc,2025-06-11,Clothing
13,Emma Davis,90.20,2025-06-12,Electronics
14,John Doe,35.40,2025-06-13,Books
15,Alice Johnson,70.00,2025-06-14,Clothing

### Day 2: Lists and Basic Data Structures
- **Topics**: Lists, indexing, slicing, list methods (append, remove, sort).
- **Task**: Parse CSV rows into a list of lists, extract specific columns.
- **Activity**:
  - Modify the script to store each row as a list in a master list.
  - Print all transaction amounts (column 2).
- **Code**:
  ```python
  transactions = []
  with open('transactions.csv', 'r') as file:
      for line in file:
          row = line.strip().split(',')
          transactions.append(row)
  amounts = [float(row[2]) for row in transactions[1:]]  # Skip header
  print(amounts)
  ```

In [ ]:
transactions = []
with open('transactions.csv', 'r') as file:
    for line in file:
        row = line.strip().split(',')
        transactions.append(row)
amounts = [float(row[2]) for row in transactions[1:]]  # Skip header
print(amounts)

ValueError: could not convert string to float: 'abc'

**This above errors caused by invalid value in amount column**.

We try to apply try and catch to cover this unexpected behavior as below code.

![Invalid amount data](https://github.com/newfrogg/data_engineering/blob/review_python/images/invalid_amount.png?raw=1)

In [ ]:
transactions = []
with open('transactions.csv', 'r') as file:
    for line in file:
        row = line.strip().split(',')
        transactions.append(row)

amount_original = []
amount_modified = []
## Try retrieve the amount value and convert to true format number.
for index, row in enumerate(transactions[1:]):
    amount_original.append(row[2])
    try:
        print(f"Infomation: Convert amount {row[2]} from String to Float successfully")
        amount_modified.append(float(row[2]))
    except ValueError:
        print(f"Warning: Invalid amount: {row[2]} => Change to default value (0)")
        amount_modified.append(float(0.0))

!echo "<<< Original column 'amount'"
print(amount_original)
!echo ">>> Modified column 'amount'"
print(amount_modified)

Infomation: Convert amount 50.25 from String to Float successfully
Infomation: Convert amount 120.50 from String to Float successfully
Infomation: Convert amount 30.00 from String to Float successfully
Infomation: Convert amount 75.80 from String to Float successfully
Infomation: Convert amount 200.00 from String to Float successfully
Infomation: Convert amount 15.99 from String to Float successfully
Infomation: Convert amount 45.60 from String to Float successfully
Infomation: Convert amount -10.00 from String to Float successfully
Infomation: Convert amount 80.00 from String to Float successfully
Infomation: Convert amount 25.50 from String to Float successfully
Infomation: Convert amount 60.75 from String to Float successfully
Infomation: Convert amount abc from String to Float successfully
Warning: Invalid amount: abc => Change to default value (0)
Infomation: Convert amount 90.20 from String to Float successfully
Infomation: Convert amount 35.40 from String to Float successfully
Infomation: Convert amount 70.00 from String to Float successfully
<<< Original column 'amount'
['50.25', '120.50', '30.00', '75.80', '200.00', '15.99', '45.60', '-10.00', '80.00', '25.50', '60.75', 'abc', '90.20', '35.40', '70.00']
>>> Modified column 'amount'
[50.25, 120.5, 30.0, 75.8, 200.0, 15.99, 45.6, -10.0, 80.0, 25.5, 60.75, 0.0, 90.2, 35.4, 70.0]

### Day 3: Conditionals and Data Cleaning
- **Topics**: If-else statements, comparison operators, handling missing data.
- **Task**: Identify and handle invalid entries (e.g., negative amounts, empty fields).
- **Activity**:
  - Add checks to skip rows with invalid amounts (e.g., negative or non-numeric).
  - Log invalid rows to a list.
  
We try to separate transaction have wrong value. By filtering data from ***amount column***, we eliminate 2 invalid out of 15 column at all.

In [ ]:
invalid_rows = []
valid_transactions = []
with open('transactions.csv', 'r') as file:
    next(file)  # Skip header
    for line in file:
        row = line.strip().split(',')
        try:
            amount = float(row[2])
            if amount < 0:
                invalid_rows.append(row)
            else:
                valid_transactions.append(row)
        except ValueError:
            invalid_rows.append(row)
print(f"Valid transactions: {len(valid_transactions)} of {len(valid_transactions) + len(invalid_rows)}")
print(f"Invalid transactions: {len(invalid_rows)}")

print(invalid_rows)

Valid transactions: 13 of 15
Invalid transactions: 2
[['8', 'John Doe', '-10.00', '2025-06-07', 'Food'], ['12', 'Invalid User', 'abc', '2025-06-11', 'Clothing']]

In [ ]:
print(invalid_rows)

[['8', 'John Doe', '-10.00', '2025-06-07', 'Food'], ['12', 'Invalid User', 'abc', '2025-06-11', 'Clothing']]

In [ ]:
[print(row) for row in invalid_rows]

['8', 'John Doe', '-10.00', '2025-06-07', 'Food']
['12', 'Invalid User', 'abc', '2025-06-11', 'Clothing']

[None, None]

The **issue** you're describing arises because the list **comprehension print(row) for row in invalid_rows** prints each row but also returns a list of the results of the print() function, which is None for each call. **This is why you see [None, None] in the output after the rows are printed.**

#### **Why does it print None, None?**
The print(row) function outputs the row to the console and returns None.
The list comprehension creates a list of these return values (None for each row).
```python
[print(row) for row in invalid_rows]
```
For your invalid_rows with two rows, the comprehension results in [None, None], which is then displayed as part of the output.

Solution:
1. Use an explicit for loop
```python
for row in invalid_rows:
    print(row)
```
2. Use a side-effect-free comprehension
```python
_ = [print(row) for row in invalid_rows]
```

In [ ]:
_= [print(row) for row in invalid_rows]

['8', 'John Doe', '-10.00', '2025-06-07', 'Food']
['12', 'Invalid User', 'abc', '2025-06-11', 'Clothing']

A side-effect-free comprehension focuses solely on transforming or filtering data to create a new collection (list, set, or dictionary) **without performing external operations like printing**. It adheres to the principle of functional programming, where operations are predictable and don’t affect external state.

For example, a side-effect-free version of your comprehension would avoid print() and simply collect or transform the rows:

#### **What is a Side Effect?**
A side effect occurs when a function or operation does something beyond returning a value. In contrast, a pure function or operation has no side effects—it only computes and returns a value based on its inputs.



### Day 4: Loops and Data Aggregation
- **Topics**: For loops, while loops, iterating over lists.
- **Task**: Calculate total sales and count transactions per category.
- **Activity**:
  - Use a loop to sum transaction amounts.
  - Create a list to store category counts.

Using with allowing automatically close file after completing execute code inside this scope.
```python
with open('$file_name','mode) as file:
    next(file) # Skip header
```

In [ ]:
total_sales = 0
category_counts = []
categories = []
with open('transactions.csv', 'r') as file:
    next(file)  # Skip header
    for line in file:
        row = line.strip().split(',')
        try:
            amount = float(row[2])
            if amount >= 0:
                total_sales += amount
                category = row[4]
                if category not in categories:
                    categories.append(category)
                    category_counts.append(1)
                else:
                    index = categories.index(category)
                    category_counts[index] += 1
        except ValueError:
            continue
print(f"Total sales: ${total_sales:.2f}")
print("Category counts:", list(zip(categories, category_counts)))

Total sales: $899.99
Category counts: [('Food', 3), ('Electronics', 4), ('Clothing', 3), ('Books', 3)]

- **zip function help zip the lists** to each other that catch by minlenght of list. Then set list to make it an object readable. Example:
```python
a = [1,2,3]
b = [2,45]
c = [312, 121, 123,1 ,12]
list(zip(a,b,c))
# result>> [(1, 2, 312), (2, 45, 121)]
```
- A new approach that help clean and minimize that simple code. Obviously, when we control the Value Error of data
```python
total_sales = 0
total_sales = sum(float(row[2]) for row in valid_transactions)
print(f"Total sales: ${total_sales:.2f}")
# result>> Total sales: $899.99
```

In [ ]:
a = [1,2,3]
b = [2,45]
c = [312, 121, 123,1 ,12]
list(zip(a,b,c))

[(1, 2, 312), (2, 45, 121)]

##### **An alternative using pandas library**
For this example, we can see the powerful of library, that cover corner cases, catch exceptions.

In [ ]:
import pandas as pd

# Read CSV into a DataFrame
df = pd.read_csv('transactions.csv')

# Convert 'Amount' to numeric, coercing errors to NaN
df['amount'] = pd.to_numeric(df['amount'], errors='coerce')

# Filter valid rows (non-negative amounts, non-NaN)
valid_df = df[df['amount'] >= 0]

# Calculate total sales
total_sales = valid_df['amount'].sum()

# Get category frequencies
category_freq = valid_df['category'].value_counts().to_dict()

print(f"Total sales: ${total_sales:.2f}")
print("Category counts:", list(category_freq.items()))

Total sales: $899.99
Category counts: [('Electronics', 4), ('Food', 3), ('Clothing', 3), ('Books', 3)]

### Day 5: Functions and Modularity
- **Topics**: Defining functions, parameters, return values.
- **Task**: Refactor code into functions for reusability.
- **Activity**:
  - Write functions for reading CSV, cleaning data, and calculating totals.
  - Call functions in a main script.

In [ ]:
def read_csv(file_path):
      transactions = []
      with open(file_path, 'r') as file:
          next(file)  # Skip header
          for line in file:
              transactions.append(line.strip().split(','))
      return transactions

def clean_data(transactions):
    valid = []
    invalid = []
    for row in transactions:
        try:
            amount = float(row[2])
            if amount >= 0:
                valid.append(row)
            else:
                invalid.append(row)
        except ValueError:
            invalid.append(row)
    return valid, invalid

def calculate_totals(valid_transactions):
    total_sales = sum(float(row[2]) for row in valid_transactions)
    return total_sales

# Main script
## Reading data from CSV file into 2-dimension list
transactions = read_csv('transactions.csv')
## Cleanning invalid rows (contain string in numeric cells)
valid, invalid = clean_data(transactions)
## Sum of total_sales (valid)
total_sales = calculate_totals(valid)
print(f"Total sales: ${total_sales:.2f}")
print(f"Invalid rows: {len(invalid)}")

Total sales: $899.99
Invalid rows: 2

## Week 2: Tuples, Analysis, and Pipeline Completion

### Day 6: Tuples and Immutable Data
- **Topics**: Tuples, tuple operations, use cases.
- **Task**: Store cleaned transactions as tuples for immutability.
- **Activity**:
  - Convert valid transactions to a list of tuples.
  - Verify tuple immutability by attempting to modify one.

In Python, a tuple is an immutable, ordered collection of items that can store elements of any data type (e.g., numbers, strings, lists, or even other tuples). **Tuples are similar to lists but cannot be modified after creation**, making them useful for representing fixed collections of data.

In [ ]:
def clean_data_to_tuples(transactions):
    valid = []
    invalid = []
    for row in transactions:
        try:
            amount = float(row[2])
            if amount >= 0:
                valid.append((row[0], row[1], amount, row[3], row[4]))
            else:
                invalid.append(row)
        except ValueError:
            invalid.append(row)
    return valid, invalid

transactions = read_csv('transactions.csv')
valid_tuples, invalid = clean_data_to_tuples(transactions)
print("First transaction:", valid_tuples[2])
print("Valid transactions under tuple form")
_ = [print(valid) for valid in valid_tuples]

First transaction: ('3', 'Alice Johnson', 30.0, '2025-06-03', 'Clothing')
Valid transactions under tuple form
('1', 'John Doe', 50.25, '2025-06-01', 'Food')
('2', 'Jane Smith', 120.5, '2025-06-02', 'Electronics')
('3', 'Alice Johnson', 30.0, '2025-06-03', 'Clothing')
('4', 'John Doe', 75.8, '2025-06-03', 'Food')
('5', 'Bob Wilson', 200.0, '2025-06-04', 'Electronics')
('6', 'Jane Smith', 15.99, '2025-06-05', 'Books')
('7', 'Alice Johnson', 45.6, '2025-06-06', 'Clothing')
('9', 'Emma Davis', 80.0, '2025-06-08', 'Electronics')
('10', 'Bob Wilson', 25.5, '2025-06-09', 'Books')
('11', 'Jane Smith', 60.75, '2025-06-10', 'Food')
('13', 'Emma Davis', 90.2, '2025-06-12', 'Electronics')
('14', 'John Doe', 35.4, '2025-06-13', 'Books')
('15', 'Alice Johnson', 70.0, '2025-06-14', 'Clothing')

In [ ]:
# Try modifying tuple (will raise error)
try:
    valid_tuples[0][2] = 100
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment


### Day 7: Data Analysis with Lists and Tuples
- **Topics**: Sorting lists, filtering, list comprehensions.
- **Task**: Generate insights (e.g., top 3 customers by total spend).
- **Activity**:
  - Create a list of (customer_name, total_amount) tuples.
  - Sort and extract top 3 customers.

In [ ]:
transactions = read_csv('transactions.csv')
valid_tuples, _ = clean_data_to_tuples(transactions)
_ = [print(valid) for valid in valid_tuples]

('1', 'John Doe', 50.25, '2025-06-01', 'Food')
('2', 'Jane Smith', 120.5, '2025-06-02', 'Electronics')
('3', 'Alice Johnson', 30.0, '2025-06-03', 'Clothing')
('4', 'John Doe', 75.8, '2025-06-03', 'Food')
('5', 'Bob Wilson', 200.0, '2025-06-04', 'Electronics')
('6', 'Jane Smith', 15.99, '2025-06-05', 'Books')
('7', 'Alice Johnson', 45.6, '2025-06-06', 'Clothing')
('9', 'Emma Davis', 80.0, '2025-06-08', 'Electronics')
('10', 'Bob Wilson', 25.5, '2025-06-09', 'Books')
('11', 'Jane Smith', 60.75, '2025-06-10', 'Food')
('13', 'Emma Davis', 90.2, '2025-06-12', 'Electronics')
('14', 'John Doe', 35.4, '2025-06-13', 'Books')
('15', 'Alice Johnson', 70.0, '2025-06-14', 'Clothing')

In [ ]:
def get_top_customers(valid_tuples, n=3, ascending=True):
    customer_totals = []
    customers = []
    for transaction in valid_tuples:
        customer, amount = transaction[1], transaction[2]
        if customer not in customers:
            customers.append(customer)
            customer_totals.append(amount)
        else:
            index = customers.index(customer)
            customer_totals[index] += amount
    customer_summary = list(zip(customers, customer_totals))
    get_first_element_of_tuple = lambda x: x[1]
    topN_customer = sorted(customer_summary, key=get_first_element_of_tuple, reverse=ascending)[:n]
    return topN_customer[:n]
### ascending: tăng dần
top_customers = get_top_customers(valid_tuples, n=3, ascending=False)

print("Top 3 customers by spend:")
for customer, total in top_customers:
    print(f"{customer}: ${total:.2f}")

Top 3 customers by spend:
Alice Johnson: $145.60
John Doe: $161.45
Emma Davis: $170.20

**A lambda function** in Python is a small, anonymous (unnamed) function defined using the lambda keyword. It’s used for short, one-off operations, especially in places like key parameters for sorting or filtering.

Syntax
```python
lambda arguments: expression
```
- Arguments: Inputs to the function (e.g., x).
- Expression: A single expression evaluated and returned (e.g., x[1]).
- Example: ```lambda x: x[1]``` takes a tuple x and returns its second element.
##### Difference Between lambda and def Keyword
lambda is concise but less powerful than def when handling complex logic. Let's take a look at short comparison between the two:

| Feature           | `lambda` Function                    | Regular Function (`def`)               |
| ----------------- | ------------------------------------ | -------------------------------------- |
| **Definition**    | Single expression with `lambda`.     | Multiple lines of code.                |
| **Name**          | Anonymous (or named if assigned).    | Must have a name.                      |
| **Statements**    | Single expression only.              | Can include multiple statements.       |
| **Documentation** | Cannot have a docstring.             | Can include docstrings.                |
| **Reusability**   | Best for short, temporary functions. | Better for reusable and complex logic. |

In [ ]:
print("====> Example 1: Sign of x")
sign = lambda x: "Positive" if x > 0 else "Negative" if x < 0 else "Zero"
print(f"Sign of 10 is {sign(10)}")
print(f"Sign of -10 is {sign(-10)}")
print(f"Sign of 0 is {sign(0)}")
print("====> Example 2: Uppercase")
upperString = lambda sttr: sttr.upper()
print(f"Uppercase of 'hello' is {upperString('hello')}")
print("====> Example 3: Relu Function")
Relu = lambda x: x if x > 0 else 0
print(f"Relu of 10 is {Relu(10)}")
print(f"Relu of -10 is {Relu(-10)}")
print("====> Example 4: Multi statements")
calculate = lambda x, y, op: x + y if op == "add" else x - y if op == "sub" else "Invalid operation"
print(f"2 added 3 equal to {calculate(2,3,op='add')}")
print(f"2 subtracted 3 equal to {calculate(2,3,op='sub')}")

====> Example 1: Sign of x
Sign of 10 is Positive
Sign of -10 is Negative
Sign of 0 is Zero
====> Example 2: Uppercase
Uppercase of 'hello' is HELLO
====> Example 3: Relu Function
Relu of 10 is 10
Relu of -10 is 0
====> Example 4: Multi statements
2 added 3 equal to 5
2 subtracted 3 equal to -1

###### Usage with filter/map function()
[GeeksforGeeks - Python Lambda Functions](https://www.geeksforgeeks.org/python/python-lambda-anonymous-functions-filter-map-reduce/)

In [ ]:
n = [1, 2, 3, 4, 5, 6]
isEven = lambda x: x % 2 == 0
even = filter(isEven, n)
print(f"1. Filtering even number only from {n}:\n>>> {list(even)}")

a = [1, 2, 3, 4]
double = lambda x: x * 2
b = map(double, a)
print(f"2. Map doubling each elements from {a}:\n>>> {list(b)}")

1. Filtering even number only from [1, 2, 3, 4, 5, 6]:
>>> [2, 4, 6]
2. Map doubling each elements from [1, 2, 3, 4]:
>>> [2, 4, 6, 8]

###### Others: usage with reduce function()

In [ ]:
from functools import reduce

# Example: Find the product of all numbers in a list
a = [1, 2, 3, 4]
multi = lambda x, y: x * y
b = reduce(multi, a)
print(b)

24

### Day 8: Error Handling and Robustness
- **Topics**: Try-except, custom error messages.
- **Task**: Add error handling for file operations and data parsing.
- **Activity**:
  - Handle missing file errors and malformed CSV rows.
  - Test with a broken CSV file.

In [ ]:
def clean_data_to_tuples(transactions):
    valid = []
    invalid = []
    for row in transactions:
        try:
            amount = float(row[2])
            if amount >= 0:
                valid.append((row[0], row[1], amount, row[3], row[4]))
            else:
                invalid.append(row)
        ## Handle get value not as expected (i.e: String instead of numeric)
        except ValueError:
            invalid.append(row)
    return valid, invalid

def read_csv_safe(file_path):
    try:
        with open(file_path, 'r') as file:
            transactions = [line.strip().split(',') for line in file]
            ### Handle case of empty file
            if not transactions:
                raise ValueError("Empty CSV file")
            return transactions
    ## Handle missing file in case cannot open file with file_path as filled
    except FileNotFoundError:
        print(f"Error: File '{file_path}' not found")
        return []
    ## Handle any errors while open for reading file
    except Exception as e:
        print(f"Error reading file: {e}")
        return []
transactions = read_csv_safe('transactions.csv')
if transactions:
    valid_tuples, invalid = clean_data_to_tuples(transactions[1:])  # Skip header
    print(f"Processed {len(valid_tuples)} valid transactions")

Processed 13 valid transactions

### Day 9: Final Pipeline Integration
- **Topics**: Combining functions, script structure.
- **Task**: Build a complete pipeline script.
- **Activity**:
  - Integrate all functions into a single script.
  - Output results to console and a summary file.

- This diagrama visualize the workflow of this project in form of a data pipeline.
<center>
 <img src='https://github.com/newfrogg/data_engineering/blob/review_python/images/data_pipeline.png?raw=1' width='250%' />
</center>

In [ ]:
def read_csv_safe(file_path):
    try:
        with open(file_path, 'r') as file:
            transactions = [line.strip().split(',') for line in file]
            if not transactions:
                raise ValueError("Empty CSV file")
            return transactions
    except FileNotFoundError:
        print(f"Error: File '{file_path}' not found")
        return []
    except Exception as e:
        print(f"Error reading file: {e}")
        return []
def clean_data_to_tuples(transactions):
    valid = []
    invalid = []
    for row in transactions:
        try:
            amount = float(row[2])
            if amount >= 0:
                valid.append((row[0], row[1], amount, row[3], row[4]))
            else:
                invalid.append(row)
        except (ValueError, IndexError):
            invalid.append(row)
    return valid, invalid
def calculate_totals(valid_tuples):
    total_sales = sum(t[2] for t in valid_tuples)
    return total_sales
def get_top_customers(valid_tuples, n=3):
    customer_totals = []
    customers = []
    for t in valid_tuples:
        customer = t[1]
        amount = t[2]
        if customer not in customers:
            customers.append(customer)
            customer_totals.append(amount)
        else:
            index = customers.index(customer)
            customer_totals[index] += amount
    customer_summary = [(c, t) for c, t in zip(customers, customer_totals)]
    customer_summary.sort(key=lambda x: x[1], reverse=True)
    return customer_summary[:n]
def write_summary(file_path, total_sales, top_customers, invalid_count):
    with open(file_path, 'w') as file:
        file.write(f"Transaction Summary\n")
        file.write(f"Total Sales: ${total_sales:.2f}\n")
        file.write(f"Invalid Transactions: {invalid_count}\n")
        file.write(f"Top {len(top_customers)} Customers:\n")
        for customer, total in top_customers:
            file.write(f"{customer}: ${total:.2f}\n")
# Main pipeline
def run_pipeline(input_file, output_file):
    transactions = read_csv_safe(input_file)
    if not transactions:
        return
    valid_tuples, invalid = clean_data_to_tuples(transactions[1:])  # Skip header
    total_sales = calculate_totals(valid_tuples)
    top_customers = get_top_customers(valid_tuples)
    write_summary(output_file, total_sales, top_customers, len(invalid))
    print(f"Pipeline complete. Summary written to {output_file}")
# Run
run_pipeline('transactions.csv', 'summary.txt')
!cat summary.txt

Pipeline complete. Summary written to summary.txt
Transaction Summary
Total Sales: $899.99
Invalid Transactions: 2
Top 3 Customers:
Bob Wilson: $225.50
Jane Smith: $197.24
Emma Davis: $170.20

In [ ]:
print(valid_tuples)

[('1', 'John Doe', 50.25, '2025-06-01', 'Food'), ('2', 'Jane Smith', 120.5, '2025-06-02', 'Electronics'), ('3', 'Alice Johnson', 30.0, '2025-06-03', 'Clothing'), ('4', 'John Doe', 75.8, '2025-06-03', 'Food'), ('5', 'Bob Wilson', 200.0, '2025-06-04', 'Electronics'), ('6', 'Jane Smith', 15.99, '2025-06-05', 'Books'), ('7', 'Alice Johnson', 45.6, '2025-06-06', 'Clothing'), ('9', 'Emma Davis', 80.0, '2025-06-08', 'Electronics'), ('10', 'Bob Wilson', 25.5, '2025-06-09', 'Books'), ('11', 'Jane Smith', 60.75, '2025-06-10', 'Food'), ('13', 'Emma Davis', 90.2, '2025-06-12', 'Electronics'), ('14', 'John Doe', 35.4, '2025-06-13', 'Books'), ('15', 'Alice Johnson', 70.0, '2025-06-14', 'Clothing')]

### Day 10: Testing and Extensions
- **Topics**: Testing code, debugging.
- **Task**: Test the pipeline and add a new feature.
- **Activity**:
  - Test with different CSV files (e.g., missing columns, large data).
  - Add a function to filter transactions by date range.

In [ ]:
filer_cond = lambda t, start, end: start <= datetime.strptime(t[3], '%Y-%m-%d') <= end
result = list(filter(lambda t: filer_cond(t, start, end), valid_tuples))
print(result)

[('1', 'John Doe', 50.25, '2025-06-01', 'Food'), ('2', 'Jane Smith', 120.5, '2025-06-02', 'Electronics'), ('3', 'Alice Johnson', 30.0, '2025-06-03', 'Clothing'), ('4', 'John Doe', 75.8, '2025-06-03', 'Food'), ('5', 'Bob Wilson', 200.0, '2025-06-04', 'Electronics'), ('6', 'Jane Smith', 15.99, '2025-06-05', 'Books'), ('7', 'Alice Johnson', 45.6, '2025-06-06', 'Clothing'), ('9', 'Emma Davis', 80.0, '2025-06-08', 'Electronics'), ('10', 'Bob Wilson', 25.5, '2025-06-09', 'Books'), ('11', 'Jane Smith', 60.75, '2025-06-10', 'Food'), ('13', 'Emma Davis', 90.2, '2025-06-12', 'Electronics'), ('14', 'John Doe', 35.4, '2025-06-13', 'Books'), ('15', 'Alice Johnson', 70.0, '2025-06-14', 'Clothing')]

In [ ]:
# !cat transactions.csv | column -t -s ","
from datetime import datetime

def filter_by_date(valid_tuples, start_date, end_date):
    filter_cond = lambda transact, start, end: start <= datetime.strptime(transact[3], '%Y-%m-%d') <= end
    result = list(filter(lambda t: filter_cond(t, start, end), valid_tuples))

    return result
# Example usage in pipeline
from datetime import datetime
start = datetime(2025, 6, 4)
end = datetime(2025, 6, 15)
filtered_tuples = filter_by_date(valid_tuples, start, end)
print(f"Transactions from {start.date()} to {end.date()}: {len(filtered_tuples)}")
for t in filtered_tuples:
    print(t)

Transactions from 2025-06-04 to 2025-06-15: 9
('5', 'Bob Wilson', 200.0, '2025-06-04', 'Electronics')
('6', 'Jane Smith', 15.99, '2025-06-05', 'Books')
('7', 'Alice Johnson', 45.6, '2025-06-06', 'Clothing')
('9', 'Emma Davis', 80.0, '2025-06-08', 'Electronics')
('10', 'Bob Wilson', 25.5, '2025-06-09', 'Books')
('11', 'Jane Smith', 60.75, '2025-06-10', 'Food')
('13', 'Emma Davis', 90.2, '2025-06-12', 'Electronics')
('14', 'John Doe', 35.4, '2025-06-13', 'Books')
('15', 'Alice Johnson', 70.0, '2025-06-14', 'Clothing')

## Achievement & Insights

### Deliverables
- A complete Python script (`pipeline.py`) that runs the data pipeline.
- A sample `transactions.csv` file.
- A `summary.txt` file with analysis results.
- (Optional) A short report (in comments or separate file) explaining the pipeline.

### Learning Outcomes
- **Python Basics**: Master variables, data types, conditionals, loops, functions.
- **Lists and Tuples**: Understand mutable vs. immutable data structures.
- **Data Engineering**: Learn data ingestion, cleaning, and pipeline design.
- **Data Analysis**: Perform basic aggregations and generate insights.

### Next Steps
- Explore Python dictionaries for more complex aggregations.
- Learn `pandas` for advanced data manipulation.
- Add database integration (e.g., SQLite) for data engineering.

# SQL Basics (deprecated)

In [ ]:
%load_ext sql
%timeit 2 + 2

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
9.05 ns ± 0.116 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [ ]:
%timeit
2 + 2

4

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Config option `named_parameters` not recognized by `SqlMagic`.
  exec(code_obj, self.user_global_ns, self.user_ns)

# CS50 SQL
- This note is reference from [CS50’s Introduction to Databases with SQL](https://cs50.harvard.edu/sql)
- Convert URL to Markdown using this tool: [url-to-markdown](https://jsongpt.com/converter/url-to-markdown)

## What is Database ?
A database is **a way of organizing data** such that you can perform four *operations* on it:
- create
- read
- update
- delete

The choice of a DBMS would rest on factors like:
- **Cost**: proprietary vs. free software,
- **Amount of support**: free and open source software like MySQL, PostgreSQL and SQLite come with the downside of having to set up the database yourself,
- **Weight**: more fully-featured systems like MySQL or PostgreSQL are heavier and require more computation to run than systems like SQLite.

**Note:**
> CS50 SQL start with SQLite and then move on to MySQL and PostgreSQL

### SQL
SQL stands for **`Structured Query Language`**. It is a language used to interact with databases, via which you can create, read, update, and delete data in a database. Some important notes about SQL
- it is **`structured`**, as we’ll see in this course,
- it has some keywords that can be **`used to interact with the database`**, and
- it is a query language — it can be used to **`ask questions of data`** inside a database.

Note:
- Get longlist.db from [here](https://cdn.cs50.net/sql/2025/spring/sections/0/)

- Execute sql script in sqlite [here](https://database.guide/5-ways-to-run-sql-script-from-file-sqlite)

## Query

- [**Note**](https://cs50.harvard.edu/sql/notes/0/), [**Lecture**](https://cdn.cs50.net/sql/2023/x/lectures/0/lecture0.pdf)
- [SQL script](./cs50_sql/scripts/00.long_list_sample.sql)
- **Longlist database**: a database of books that have been longlisted for the International Booker Prize. Each year, there are 13 books on the longlist and our database contains 5 years’ worth of such longlists.

## Problem set 0

### **Cyberspace**
Welcome to Cyberspace! Cyberchase is an animated, educational kid’s television series, aired by the United States’ Public Broadcasting Service (PBS) since 2002. Originally designed to “*show kids that math is everywhere and everyone can be good at it,*” the world of Cyberchase centers on Jackie, Matt, and Inez as they team up with Digit—a “cybird”—to stop Hacker from taking over Cyberspace and infecting Motherboard. **Along the way, the quartet learn math, science, and problem-solving skills to thwart Hacker in his attempts**.

In a database called cyberchase.db, using a table called episodes, chase answers to PBS’s questions about Cyberchase’s episodes thus far.

### **Normals**
How do we know whether ocean temperatures are lower or higher than “normal”? What’s a “normal” temperature? Turns out that scientists have developed a metric called a “Climate Normal.” A Climate Normal characterizes aspects of earth’s climate—its long-term weather—over a span of 30 years. One important metric is ocean temperature.

In a database called normals.db, using a table called normals, explore some of the most recent Climate Normal data to understand what makes a normal ocean temperature around the world.

Visualizer database:
![normal database](https://cs50.harvard.edu/sql/psets/0/normals/normals.jpg)

In normals.db you’ll find a single table of coordinates, normals. In the normals table, you’ll find the following columns:

- **id**, which uniquely identifies each row (coordinate) in the table
- **latitude**, which is the degree of latitude (expressed in decimal format) for the coordinate
- **longitude**, which is the degree of longitude (expressed in decimal format) for the coordinate
- **0m**, which is the normal ocean surface temperature (i.e., the normal temperature at 0 meters of depth), in degrees Celsius, at the coordinate
- **5m**, which is the normal ocean temperature at 5 meters of depth, in degrees Celsius, at the coordinate
- **10m**, which is the normal ocean temperature at 10 meters of depth, in degrees Celsius, at the coordinate

### **Players**
**Baseball** is a popular sport in which two teams of 9 players take turns batting (hitting a ball) and fielding (catching and throwing hit balls). Points (“runs”) are scored when a hitting team’s player hits a ball and eventually touches all bases before the fielding team’s players have the chance to get them “out.” Baseball is arguably most popular in the United States and Canada, where the MLB (Major League Baseball) has served as the professional association for players since 1876.

In a database called players.db, using a table called players, answer questions about MLB players who’ve played from 1871 to 2023.

In **`players.db`** you’ll find a single table, players. In the players table, you’ll find the following columns:

- **id**, which uniquely identifies each row (player) in the table
- **first_name**, which is the first name of the player
- **last_name**, which is the last name of the player
- **bats**, which is the side (R for right or L for left) the player bats on
- **throws**, which is the hand (R for right or L for left) the player throws with
- **weight**, which is the player’s weight in pounds
- **height**, which is the player’s height in inches
- **debut**, which is the date (expressed as YYYY-MM-DD) the player began their career in the MLB
- **final_game**, which is the date (expressed as YYYY-MM-DD) the player played their last game in the MLB
- **birth_year**, which is the year the player was born
- **birth_month**, which is the month (expressed as an integer) the player was born
- **birth_day**, which is the day the player was born
- **birth_city**, which is the city in which the player was born
- **birth_state**, which is the state in which the player was born
- **birth_country**, which is the country in which the player was born

**Schema**

Each database has some “schema”—the tables and columns into which the data is organized. In **`cyberchase.db`** you’ll find a single table, episodes. In the episodes table, you’ll find the following column.


![Database Stucture](https://github.com/newfrogg/data_engineering/blob/sql_intro/images/cyberchase_db_structure.png?raw=true)

This image above illustrates the stucture of this database:
- 1 schema (episodes) with relating columns:
- `id`, which uniquely identifies each row (episode) in the table
- `season`, which is the season number in which the episode aired
- `episode_in_season`, which is the episode’s number within its given season
- `title`, which is the episode’s title
- `topic`, which identifies the ideas the episode aimed to teach
- `air_date`, which is the date (expressed as YYYY-MM-DD) on which the episode “aired” (i.e., was published)
- `production_code`, which is the unique ID used by PBS to refer to each episode internally

## Relating

Databases can have **multiple tables**. Last class, we saw a database of books longlisted, or nominated, for the International Booker Prize. We will now see that database has many different tables inside it — for books, authors, publishers and so on.

Some possible ways to organize books and authors are:
- the honor system: the **`first row in the authors table will always correspond to the first row in the books table`**. The problem with this system is that one may make a mistake (add a book but forget to add its corresponding author, or vice versa). Also, an author may have written more than one book or a book may be co-written by multiple authors.

- going back to a one-table approach: **`This approach could result in redundancy (duplication of data) if one author writes multiple books or if a book is co-written by multiple authors.`** Below is a snapshot of the one-table approach with some redundant data.

**One-table approach: author with multiple books**

After considering these ideas, it seems like having two different tables is the most efficient approach. Let us look at some different ways in which tables can be related to each other in relational databases.

### Entity Relationship Diagrams
We just described one-to-one, one-to-many and many-to-many relationships between tables in a database. It is possible to visualize such relationships using an entity relationship (ER) diagram.


![ER diagram](https://github.com/newfrogg/data_engineering/blob/sql_intro/images/longlist_ERdiagram.png?raw=true)

**Convetion: Zero, One, Many ?**

Each line is this diagram is in crow’s foot notation.
- The first line with a circle looks like a **`0 marked on the line`**. This line indicates that there are no relations.
- The second line with a perpendicular line looks like a **`1 marked on the line`**. An entity with this arrow has to have at least one row that relates to it in the other table.
- The third line, which looks like a crow’s foot, has **`many branches`**. This line means that the entity is related to many rows from another table.

On observing the lines connecting the Book and Translator entities, we can say that books don’t need to have a translator. They could have zero to many translators. However, ***a translator in the database translates at least one book, and possibly many.***

> **If we have some database, how do we know the relationships among the entities stored inside of it?**

The exact relationships between entities are really ***up to the designer of the database***. For example, whether each author can write only one book or multiple books is a decision to be made while designing the database. An ER diagram can be thought of as a tool to communicate these decisions to someone who wants to understand the database and the relationships between its entities.

> **Once we know that a relationship exists between certain entities, how do we implement that in our database?**

We will shortly see how we can use ***keys*** in SQL to relate tables to one another.

### Keys
#### Primary Keys
- In the case of books, every book has a unique identifier called an ISBN. In other words, **`if you search for a book by its ISBN, only one book will be found`**. In database terms, the ISBN is a primary key — an identifier that is unique for every item in a table.

- Inspired by this idea of an ISBN, we can imagine assigning unique IDs to our publishers, authors and translators! **`Each of these IDs would be the primary key of the table it belongs to`**.

#### Foreign Keys
Keys also help relate tables in SQL. A foreign key is a primary key taken from a different table. By referencing the primary key of a different table, it helps relate the tables by forming a link between them.

> **"Relating the books and ratings tables using foreign key"**

Notice how the primary key of the books table is now a column in the ratings table. This helps form a one-to-many relationship between the two tables — a book with a title (found in the books table) can have multiple ratings (found in the ratings table).

The ISBN, as we can see, is a long identifier. If each character occupied a byte of memory, storing a single ISBN (including the dashes) would take 17 bytes of memory, which is a lot!

Thankfully, we don’t necessarily have to use the ISBN as a primary key. We can just construct our own using numbers like 1, 2, 3… and so on as long as each book has a unique number to identify it.

![Foreign keys](https://cs50.harvard.edu/sql/notes/1/images/p40.jpg)

> **Can the IDs of the author and the book be the same? For example, if author_id is 1 and book_id is also 1 in the authored table, will there be a mix-up?**

Tables like authored are called “joint” or “junction” tables. In such tables, we usually know which primary key is referenced by which column. In this case, since we know that the first column contains the primary key of authors only and the second column similarly contains the primary key of books only, it would be okay even if the values matched!

> **If we have a lot of joint tables like this, wouldn’t that take up too much space?**

Yes, there is a trade-off here. Tables like these occupy more space but they also enable us to have many-to-many relationships without redundancies, like we saw earlier.

> **On changing the ID of a book or author, does the ID get updated in the other tables as well?**

An updated ID still needs to be unique. Given that, IDs are often abstracted away and we rarely change them.

### Subqueries

*   A subquery is a query inside another query. These are also called nested queries.
*   Consider this example for a one-to-many relationship. In the `books` table, we have an ID to indicate the publisher, which is a foreign key taken from the `publishers` table. To find out the books published by Fitzcarraldo Editions, we would need two queries — **one to find out the `publisher_id` of Fitzcarraldo Editions from the `publishers` table and the second**, to use this `publisher_id` to find all the books published by Fitzcarraldo Editions. These two queries can be combined into one using the idea of a subquery.

```sql
SELECT "title"
FROM "books"
WHERE "publisher_id" = (
    SELECT "id"
    FROM "publishers"
    WHERE "publisher" = 'Fitzcarraldo Editions'
);
```

Notice that:

*   The subquery is in parentheses. The query that is furthest inside parantheses will be run first, followed by outer queries.
*   The inner query is indented. This is done as per style conventions for subqueries, to increase readability.
*   To find all the ratings for the book In Memory of Memory

### IN

*   This keyword is used to check whether the desired value is _in_ a given list or set of values.
*   The relationship between authors and books is ***many-to-many***. This means that it is possible a given author has written more than one book. To find the names of all books in the database written by Fernanda Melchor, we would use the `IN` keyword as follows.

```sql
SELECT "title"
FROM "books"
WHERE "id" IN (
    SELECT "book_id"
    FROM "authored"
    WHERE "author_id" = (
        SELECT "id"
        FROM "authors"
        WHERE "name" = 'Fernanda Melchor'
    )
);
```

![Foreign keys](https://cs50.harvard.edu/sql/notes/1/images/p40.jpg)

Note that the innermost query uses `=` and not the `IN` operator. This is because we expect to find just one author named Fernanda Melchor.

The **IN** keyword describes the relation: *one-to-many, one author -> many books, one author_id -> book_id (final id)*

> **What if the value of an inner query is not found?**

*   In this case, the inner query would return nothing, prompting the outer query to also return nothing. The outer query is thus dependent on the results of the inner query.

> **Is it necessary to use four spaces to indent a subquery?**

*   No. The number of spaces used to indent a subquery can vary, as can the length of each line in the query. But the central idea behind breaking up queries and indenting subqueries is to make them readable.

> **How can we implement a many-to-one relationship between tables?**

*   Consider the situation wherein a book is co-written by multiple authors. We would have an `authored` table with multiple entries for the same book ID. Each of these entries would have a different author ID. It is worth noting that foreign key values can be repeated within a table, but primary key values are always unique.

### JOIN

*   This keyword allows us to combine two or more tables together.
*   To understand how `JOIN` works, **consider a database of sea lions and their migration patterns**. Here is a snapshot of the database.
*   To find out how far the sea lion Spot travelled, or answer similar questions about each sea lion, we could use nested queries. Alternately, we could join the tables `sea lions` and `migrations` together such that each sea lion also has its corresponding information as an extension of the same row.
*   ***We can join the tables on the sea lion ID (the common factor between the two tables) to ensure that the correct rows are lined up against each other***.
*   Before testing this out, make sure to exit `longlist.db` using the `.quit` SQLite command. Then, open up `sea_lions.db`.
*   Sea Lions database:
![database](https://cs50.harvard.edu/sql/notes/1/images/p69.jpg)
*   To join the tables

```sql
SELECT *
FROM "sea_lions"
JOIN "migrations" ON "migrations"."id" = "sea_lions"."id";
```
Getting **sea_lions.db** from [here](https://cdn.cs50.net/sql/2023/x/lectures/1/src1/)

Notice that:
- ***The ON keyword is used to specify which values match between the tables being joined. It is not possible to join tables without matching values.***
- If there are any IDs in one table not present in the other, this row will not be present in the joined table. This kind of join is called an INNER JOIN.
- Some other ways of joining tables that allow us to retain certain unmatched IDs are `LEFT JOIN`, `RIGHT JOIN` and `FULL JOIN`. Each of these is a kind of `OUTER JOIN`.
- A `LEFT JOIN` prioritizes the data in the left (or first) table.

```sql
SELECT *
FROM "sea_lions"
LEFT JOIN "migrations" ON "migrations"."id" = "sea_lions"."id";
```

This query would retain all sea lion data from the `sea_lions` table — the left one. ***Some rows in the joined table could be partially blank***. This would happen if the right table didn’t have data for a particular ID.

*   Similarly, a `RIGHT JOIN` retains all the rows from the right (or second) table. A `FULL JOIN` allows us to see the entirety of all tables.
*   As we can observe, an `OUTER JOIN` could lead to empty or `NULL` values in the joined table.
*   Both tables in the sea lions database have the column `id`. Since the value on which we are joining the tables has the same column name in both tables, we can actually omit the `ON` section of the query while joining.

```sql
SELECT *
FROM "sea_lions"
NATURAL JOIN "migrations";
```

Notice that the result does not have a duplicate `id` column in this case. Also, this join works similarly to an `INNER JOIN`.

> **In the sea lions database, how are the IDs created? Do they come from the `sea_lions` table or the `migrations` table?**

*   The ID of each sea lion likely came from researchers tracking the migration patterns of these sea lions. That is to say, the IDs were not generated in either of the tables, but were assigned at the source of the data itself.

> **If we are trying to join three tables, how can we know which the left or right tables are?**

*   For each `JOIN` statement, the first table before the keyword is the left one. The one that is involved in the `JOIN` keyword is the right table.

> **When we join tables, does the resulting joined table get saved? Can we reference it later without joining again?**

*   In the way that we are using `JOIN`, the result is a temporary table or a result set. It can be used for the duration of the query.

> **There’s many different kinds of `JOIN`. Is there a default one we should use?**

*   The simplest kind — just `JOIN` — is actually an `INNER JOIN` and that’s the default for SQL.

### Sets
*   New version of Long list Database:
![Long list version 2 Database](https://github.com/newfrogg/data_engineering/blob/sql_intro/images/longlist_v2_db_structure.png?raw=true)
*   Let’s take another example. In our database of books, we have authors and translators. A person could be either an author or a translator. **If the two sets have an intersection, it is also a possible that a person could be both an author and a translator of books.** We can use the `INTERSECT` operator to find this set.

```sql
SELECT "name" FROM "translators"
INTERSECT
SELECT "name" FROM "authors";
```

*   If a person is either an author or a translator, or both, they belong to the union of the two sets. In other words, this set is formed by **combining the author and translator sets**.

```sql
SELECT "name" FROM "translators"
UNION
SELECT "name" FROM "authors";
```

Notice that every author and every translator is included in this result set, but only once!

*   A minor adjustment to the previous query gives us the profession of the person in the result set, based on whether they are an author or a translator.

> **Point out one person is author or translator**

```sql
SELECT 'author' AS "profession", "name"
FROM "authors"
UNION
SELECT 'translator' AS "profession", "name"
FROM "translators";
```

*   Everyone who is an author and _only_ an author is included in the following set. The `EXCEPT` keyword can be used to find such a set. In other words, the set of translators is subtracted from the set of authors to form this one.

```sql
SELECT "name" FROM "authors"
EXCEPT
SELECT "name" FROM "translators";
```

These operators could be useful to answer many different questions. For example, we can find the books that Sophie Hughes and Margaret Jull Costa have **translated together**.
```sql
SELECT "book_id" FROM "translated"
WHERE "translator_id" = (
    SELECT "id" from "translators"
    WHERE "name" = 'Sophie Hughes'
)
INTERSECT
SELECT "book_id" FROM "translated"
WHERE "translator_id" = (
    SELECT "id" from "translators"
    WHERE "name" = 'Margaret Jull Costa'
);
```

> **Could we use `INTERSECT`, `UNION` etc. to perform operations on 3-4 sets?**

*   Yes, absolutely. To intersect 3 sets, we would have to use the `INTERSECT` operator twice. An important note — we have to make sure to have the same number and same types of columns in the sets to be combined using `INTERSECT`, `UNION` etc.

### Groups


*   Consider the `ratings` table. For each book, we want to find the average rating of the book. To do this, we would first need to **group ratings together by book** and then average the ratings out for each book (each group).

```sql
SELECT "book_id", AVG("rating") AS "average rating"
FROM "ratings"
GROUP BY "book_id";
```

***In this query, the `GROUP BY` keyword was used to create groups for each book and then collapse the ratings of the group into an average rating!***

*   Now, we only want to see the books that ***are well-rated, with an average rating of over 4.***

```sql
SELECT "book_id", ROUND(AVG("rating"), 2) AS "average rating"
FROM "ratings"
GROUP BY "book_id"
HAVING "average rating" > 4.0;
```

Note that the **`HAVING` keyword is used here to specify a condition for the groups**, instead of `WHERE` (which can only be used to specify conditions for individual rows).

### Questions

> Is it possible to see the number of ratings given to each book?

*   Yes, this would require a slight modification with the use of the `COUNT` keyword.

```sql
SELECT "book_id", COUNT("rating")
FROM "ratings"
GROUP BY "book_id";
```

> Is it also possible to sort the data obtained here?

*   Yes, it is. Say we wanted to find the average ratings per well-rated book, ordered in descending order.

```sql
SELECT "book_id", ROUND(AVG("rating"), 2) AS "average rating"
FROM "ratings"
GROUP BY "book_id"
HAVING "average rating" > 4.0
ORDER BY "average rating" DESC;
```

## Problem set 1
### **Packages**

You are a **mail clerk for the city of Boston** and, as such, you ***oversee*** the delivery of mail across the city. For the most part, all packages sent are eventually delivered. Except, every once in while, a mystery falls into your lap: a missing package! For each customer that comes to you with a report of a missing package, your job is to determine:

- The current address (or location!) of their missing package
- The type of address or location (e.g. residential, business, etc.)
- The contents of the package

All you know is what the customers themselves will tell you. To solve each mystery, you’ll need to use the mail delivery service’s database, **`packages.db`**, which **contains data on the transit of packages around the city**. Using just the information in the database, your task is to help each customer find their missing package.

**Schema**

**`packages.db`** represents all recent package deliveries in the city of Boston. To do so, packages.db represents the following entities:

- Drivers, who are the people that deliver packages
- The packages themselves
- Addresses, such as 1234 Main Street
- Scans of packages, which represent confirmations a delivery driver picked up or dropped off a given package.

These entities are related per the entity relationship (ER) diagram below:

![Package ERD](https://github.com/newfrogg/data_engineering/blob/sql_intro/images/package_ERD.png?raw=true)

**addresses table**
The addresses table contains the following columns:
- id, which is the ID of the address
- address, which is the street address itself (i.e., 7660 Sharon Street)
- type, which is the type of address (i.e., residential, commercial, etc.)

**drivers table**
The drivers table contains the following columns:
- id, which is the ID of the driver
- name, which is the first name of the driver

**packages table**
The packages table contains the following columns:
- id, which is the ID of the package
- contents, which contains the contents of the package
- from_address_id, which is the ID of the address from which the package was sent
- to_address_id, which is the ID of the address to which the package was sent. It’s not necessarily where it ended up!

**scans table**
The scans table contains the following columns:
- id, which is the ID of the scan
- driver_id, which is the ID of the driver who created the scan
- package_id, which is the ID of the package scanned
- address_id, which is the ID of the address where the package was scanned
- action, which indicates whether the package was picked up (“Pick”) or dropped off (“Drop”)
- timestamp, which is the day and time at which the package was scanned

There are 3 lost packages with clues to find them. The detail answers are in [script/01.packages.sql](https://github.com/newfrogg/data_engineering/blob/sql_intro/cs50_sql/scripts/01.packages.sql)

**The Lost Letter:** Clerk, my name’s Anneke. I live over at 900 Somerville Avenue. Not long ago, I sent out a special letter. It’s meant for my friend Varsha. She’s starting a new chapter of her life at 2 Finnegan Street, uptown. (That address, let me tell you: it was a bit tricky to get right the first time.) The letter is a congratulatory note—a cheery little paper hug from me to her, to celebrate this big move of hers. Can you check if it’s made its way to her yet?

_At what type of address did the Lost Letter end up?: Residential_

_At what address did the Lost Letter end up?: 2 Finnegan Street_

**The Devious Delivery:** Good day to you, deliverer of the mail. You might remember that not too long ago I made my way over from the town of Fiftyville. I gave a certain box into your reliable hands and asked you to keep things low. My associate has been expecting the package for a while now. And yet, it appears to have grown wings and flown away. Ha! Any chance you could help clarify this mystery? Afraid there’s no “From” address. It’s the kind of parcel that would add a bit more… quack to someone’s bath times, if you catch my drift.

_At what type of address did the Devious Delivery end up?: Residential_

_What were the contents of the Devious Delivery?: Duck debugger_

**The Forgotten Gift:** Oh, excuse me, Clerk. I had sent a mystery gift, you see, to my wonderful granddaughter, off at 728 Maple Place. That was about two weeks ago. Now the delivery date has passed by seven whole days and I hear she still waits, her hands empty and heart filled with anticipation. I’m a bit worried wondering where my package has gone. I cannot for the life of me remember what’s inside, but I do know it’s filled to the brim with my love for her. Can we possibly track it down so it can fill her day with joy? I did send it from my home at 109 Tileston Street.

_What are the contents of the Forgotten Gift?: Chalk_

_Who has the Forgotten Gift?: Mikel_